<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" , href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
    <div class="container-fluid d-flex align-items-center"><h1 class="d-flex align-items-center fs-4 text-white mb-0">
        <img src="/static/cloud.jpg" width="38" height="30" class="me-3"
             alt="Bootstrap"><font dir="auto" style="vertical-align: inherit;"><font dir="auto"
                                                                                     style="vertical-align: inherit;">
        Погода.BOT
    </font></font></h1> <a href="/give_number" class="ms-auto link-light" hreflang="ar"><font
            dir="auto" style="vertical-align: inherit;"><font dir="auto" style="vertical-align: inherit;">Скачать JSON
    </font></font></a></div>
</header>
{% block body %}{% endblock %}
</body>
</html>